.RSS_title {
	border-left-size:1px;
	border-left-color:black;
	border-left-style:solid;

}
.RSS_link {
	border-left-size:1px;
	border-left-color:black;
	border-left-style:solid;
	
}

.RSS_date {
	border-left-size:1px;
	border-left-color:black;
	border-left-style:solid;

}

.RSS_description {
	border-left-size:1px;
	border-left-color:black;
	border-left-style:solid;

}