<table>
		<tr>
			<td valign='top'> 
<table class="groupTable">
	<tbody>
		<tr><td class="groupTableTopLeft"></td><td class="groupTableTop"></td><td class="groupTableTopRight"></td></tr>
		<tr>
			<td class="groupTableLeft">
			</td>
			<td class="groupTableCenter">
				<div class="groupTableTitle">
					About
				</div>
				<span class="groupTableContent">
					<table width="100%" border="0" cellspacing="0" cellpadding="0">
						<tr>
		<td class="ContentTableTitle">
			Version
		</td>
		<td class="ContentTableContent">
			{{version}}
		</td>
	</tr>
					</table>
				</span>
			</td>
			<td class="groupTableRight"></td>
		</tr>
		<tr><td class="groupTableBottomLeft"></td><td class="groupTableBottom"></td><td class="groupTableBottomRight"></td></tr>
	</tbody>
</table>			</td>
		</tr>
		<tr>
			<td valign="top">
<table class="groupTable">
	<tbody>
		<tr><td class="groupTableTopLeft"></td><td class="groupTableTop"></td><td class="groupTableTopRight"></td></tr>
		<tr>
			<td class="groupTableLeft">
			</td>
			<td class="groupTableCenter">
				<div class="groupTableTitle">
					Open Source
				</div>
				<span class="groupTableContent">
					<table width="100%" border="0" cellspacing="0" cellpadding="0">
					<table><tr><td valign='top' class="ContentTableContent">
<p>The DB2 Technology Explorer for IBM DB2 is an open source project available at
<a onclick="OpenURLInFloatingWindow('http://www.sourceforge.net/projects/db2mc');">sourceforge.net/projects/db2mc</a>
</p>
</td></tr>
<table>
					</table>
				</span>
			</td>
			<td class="groupTableRight"></td>
		</tr>
		<tr><td class="groupTableBottomLeft"></td><td class="groupTableBottom"></td><td class="groupTableBottomRight"></td></tr>
	</tbody>
</table>			</td>
		</tr>		
		<tr>
			<td valign="top">
<table class="groupTable">
	<tbody>
		<tr><td class="groupTableTopLeft"></td><td class="groupTableTop"></td><td class="groupTableTopRight"></td></tr>
		<tr>
			<td class="groupTableLeft">
			</td>
			<td class="groupTableCenter">
				<div class="groupTableTitle">
					Copyright IBM Corp. 2007,2008 All rights reserved
				</div>
				<span class="groupTableContent">
					<table width="100%" border="0" cellspacing="0" cellpadding="0">
					<table><tr><td valign='top' class="ContentTableContent">
<p>Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.</p>
<p>You may obtain a copy of the License at:</p>
<ul><li>http://www.apache.org/licenses/LICENSE-2.0</ul>
<p>Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.</p>
</td></tr>
<table>
					</table>
				</span>
			</td>
			<td class="groupTableRight"></td>
		</tr>
		<tr><td class="groupTableBottomLeft"></td><td class="groupTableBottom"></td><td class="groupTableBottomRight"></td></tr>
	</tbody>
</table>			</td>
		</tr>
	
	<table>