<script type="text/javascript">
	createContextMenu('{{pageJs}}_generatedLeftMenu',  '{{leftMenuJs}}', HORIZONTAL, '{{stageJs}}', '{{windowJs}}', '{{panelJs}}');
GLOBAL_CONTEXT.setContextMenu('{{leftMenuJs}}');createContextMenu('{{pageJs}}_generatedRightMenu', '{{rightMenuJs}}', HORIZONTAL, '{{stageJs}}', '{{windowJs}}', '{{panelJs}}');
</script>

<table class="contextRootBase" cellpadding="0" cellspacing="0" >
	<tbody>
		<tr>
			<td>
				<table  cellpadding="0" cellspacing="0">
					<tr>
						<td id="{{pageAttr}}_generatedLeftMenu">
						</td>
					</tr>
				</table>
			</td>
			<td id="{{pageAttr}}_generatedRightMenu" align="right">
			</td>
		</tr>
	</tbody>
</table>

