<div class="generalHTML">
<div id="title">Welcome to the Technology Explorer {{version}}</div>

<p>
<table>
	<tr>
		<td><img src="./images/logo.jpg"/></td>
		<td><h1>The Technology Explorer {{version}}</h1></td>
		</tr>
</table>
<table border="0" cellspacing="0" cellpadding="5">
  <tr>
	<td class="tableText">
Technology Explorer (TE) is a light weight, web based console for database management systems:
IBM DB2, PostgreSQL, MySQL and MariaDB, SQLite, Apache Derby and H2.
Technology Explorer strives to be a teaching tool for everyone who works with a database.
Whether you're just starting out, or have been running databases for years,
there are tutorials for you around many aspects of how a DBMS works.
Part of what makes the TE such a great teaching tool is that it doesn't just explain to you how a system should act,
the Technology Explorer shows you, using your database!
The TE has a large number of views that show you how your database is actually behaving.
All of the views the TE uses to teach you can be used individually,
making the TE a very powerful monitoring tool as well.
The Technology Explorer is meant to be a tool for you!
You can use it, change it, build it.
Menus, pages and views are defined in JSON and XML files, so you don't need to be a programmer to make changes.

The Technology Explorer is an open source, community project at <a href="https://github.com/pribtech/nodete" target="_blank">github.com/pribtech/nodete</a>.
We want people to customize and extend it and contribute back to the community.
To provide feedback, suggestions, or report defects, open an issue there.
	</td>
  </tr>
</table>
</p>
<p>
Some of the key features of the Technology Explorer are:
<ul>
	<li>A light weight, web based platform for working with database servers</li>
	<li>Works with IBM DB2 (Linux, UNIX and Windows; z/OS; i), PostgreSQL, MySQL and MariaDB, SQLite, Apache Derby and H2</li>
	<li>Connects with only a host, port and database name: every database driver is built in</li>
	<li>Easily expandable and customizable</li>
	<li>Contains a wealth of content to highlight, demonstrate and teach database features, with the most for DB2</li>
</ul>
</p>
<br/><br/>
Server {{runtime}}
<p>
Database driver check:
<table>
{{drivers}}
<tr><table>
</div>
