<!--
  Author: Peter Prib
  Copyright Frygma Pty Ltd (ABN 90 791 388 622 2009) 2009-2012 All rights reserved.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  
-->
<table name="servers">
	<sql_name>SYSCAT.SERVERS</sql_name>
	<singular_name>Server</singular_name>
	<plural_name>Servers</plural_name>
	<description>&lt;a onclick="OpenURLInFloatingWindow('http://publib.boulder.ibm.com/infocenter/db2luw/v9/index.jsp?topic=/com.ibm.websphere.ii.db2udb.federation.overview.doc/prod_overview/cfpint23.html');"&gt;Federated Servers&lt;/a&gt;</description>
	<order_by_index name="serverName" direction="A"/>
	<display_columns>
		<col type="column" name="wrapName"/>
		<col type="column" name="serverName"/>
		<col type="reference" name="options"/>
		<col type="reference" name="userOptions"/>
		<col type="reference" name="tables"/>
		<col type="action" name="NNStats"/>
		<col type="column" name="serverType"/>
		<col type="column" name="serverVersion"/>
		<col type="column" name="remarks"/>
	</display_columns>
	<disable_edit/>
	
  	<action name="NNStats">
		<title>Update Stats</title>
    	<actionScript>    
		<task>
			<action name="execute" type="serverAction" >
				<parameterList>
					<parameter name="action" type="fixed">
						<value>executeSQL</value>
					</parameter>
					<parameter name="SQL" type="fixed">
						<value>CALL SYSPROC.NNSTAT('?SERVERNAME?',NULL,NULL,NULL,NULL,0,NULL,?)</value>
					</parameter>
					<parameter name="parameter[SERVERNAME]" type="blockValue">
						<value>serverName</value>
					</parameter>
				</parameterList>
			</action>
			<if condition="true" compareOn="execute.returnCode" compareOnType="returnObject">
				<task>
					<alert>Successfully collected statistics for nickname ?TABSCHEMA?.?TABNAME?</alert>
					<panelReload/>
					<exit/>
				</task>
			</if>
			<assignSharedConstant name="ERROR_MESSAGE" type="returnObject">
				<value>execute.returnValue.STMTMSG</value>
			</assignSharedConstant>
			<alert>Failed collecting statistics for nickname ?serverName?: ?ERROR_MESSAGE?</alert>
		</task>    
    	</actionScript>
    </action>
	
	<reference name="options">
		<title>Options</title>
		<reftype>table</reftype>
		<refvalue>Federation/serverOptions</refvalue>
		<icon>images/icon-link-calendar.gif</icon>
		<ref foreign_column_name="SERVERNAME">
			<local_column_name>serverName</local_column_name>
		</ref>
	</reference>	
	<reference name="userOptions">
		<title>User Options</title>
		<reftype>table</reftype>
		<refvalue>Federation/userOptions</refvalue>
		<icon>images/icon-link-calendar.gif</icon>
		<ref foreign_column_name="servername">
			<local_column_name>serverName</local_column_name>
		</ref>
	</reference>	
	<reference name="tables">
		<title>Tables</title>
		<reftype>table</reftype>
		<refvalue>Federation/federatedObjects</refvalue>
		<icon>images/icon-link-calendar.gif</icon>
		<ref foreign_column_name="SERVERNAME">
			<local_column_name>serverName</local_column_name>
		</ref>
		<ref foreign_column_name="WRAPPER">
			<local_column_name>wrapName</local_column_name>
		</ref>
	</reference>

	<column name="wrapName">
		<sqlName>WRAPNAME</sqlName>
		<title>Wrapper Name</title>
		<type></type>
		<c_drill>n</c_drill>
		<c_reference name="tbspace">
			<title>Wrapper</title>
			<reftype>displayRow</reftype>
			<refvalue>Federation/wrapper</refvalue>
			<icon>images/icon-tbs.gif</icon>
			<ref foreign_column_name="tbsp_id">
				<local_column_name>tbspaceid</local_column_name>
			</ref>
		</c_reference>	
	</column>
	<column name="serverName">
		<sqlName>SERVERNAME</sqlName>
		<title>Server Name</title>
		<type>s</type>
		<c_drill>n</c_drill>
		<c_pkey>p</c_pkey>        
	</column>
	<column name="serverType">
		<sqlName>SERVERTYPE</sqlName>
		<title>type</title>
		<type>s</type>
		<c_drill>n</c_drill>
	</column>
	<column name="serverVersion">
		<sqlName>SERVERVERSION</sqlName>
		<title>Version</title>
	</column>
	<column name="remarks">
		<sqlName>REMARKS</sqlName>
		<title>Remarks</title>
		<type>s</type>
	</column>
</table>
