<p>This page demonstrates creation of a view on some database tables</p>

<H2><B>Problem Description</B></H2><HR>
<p>The details of the products purchased by a customer is distributed between two tables 'order_master' and 'order_details'. In order to generate a customer bill, both the tables need to be queried for the relevant information.</p>

<H2><B>Operation</B></H2><HR>
<p>Create a view that contains the entire purchase order information for the customers. This view enables quick generation of the customer bill. This view also addresses the security concern by not selecting the    'payment_mode' column of the order_master table</p>

<H2><B>Result</B></H2><HR>
<p>The corresponding view is created</p>



