{"Name":"db2te on dev / peter.prib","ServiceId":"com.ibm.cloudoe.orion.client.deploy","Params":{"Target":{"Url":"https://api.ng.bluemix.net","Org":"peter.prib","Space":"dev"},"Name":"db2te","Timeout":60},"Url":"http://pribdb2te.ng.bluemix.net","ManageUrl":"https://ace.ng.bluemix.net#/resources/appGuid=7542c997-948b-4199-9f95-bf02fb056411&orgGuid=3e035ffb-daeb-40c4-8526-b23e0223baa0&spaceGuid=8a7f8cd1-c685-4abe-adb5-280564200ec4","Path":"manifest.yml","UrlTitle":"db2te","Type":"Cloud Foundry"}